<p>Definitely not a robot.</p>
<a href="http://facebook.com/RoryHayes"><i class="fa my-fa-facebook-square fa-2x"></i></a>
<a href="http://twitter.com/rorosaurus"><i class="fa my-fa-twitter-square fa-2x"></i></a>
<a href="http://linkedin.com/in/RoryHayes"><i class="fa my-fa-linkedin-square fa-2x"></i></a>
<a href="http://github.com/rorosaurus"><i class="fa fa-github-square fa-2x"></i></a>
<a href="http://steamcommunity.com/profiles/76561197997399275"><i class="fa fa-steam-square fa-2x"></i></a>
<a href="https://open.spotify.com/user/rorosaurus"><i class="fa fa-spotify fa-2x"></i></a>
